/* The basic area */
body,html {
	margin: 0;
	padding: 0;
}
html, textarea, buton {
	font-family: 'Open Sans', sans-serif;
}
button, textarea, input {
	outline: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: #59B356;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #3EA022;
}
.hidden {
	display: none;
}

/* The general area */
.autosize {
	resize: none;
	height: 20px;
	min-height:20px;
	overflow: hidden;
}
.page-wrapper {
	max-width: 600px;
	width: 100%;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

/* The interactive area */
#write-form {
	width: 100%;
}
.write-container {
	border: 5px solid #aaa;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0 0;
	position: relative;
}
#write-area, #write-area2 {
	border: 0;
	font-size: 14px;
	padding: 0 30px 0 0;
	display: block;
	color: #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	line-height: 18px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: hidden;
}
#postimage {
	position: absolute;
	right: 10px;
	top: 10px;
}
#write-area.active, #write-area2.active {
	color: #333;
}
#load-more {
	display: none;
	border: 0;
	background-color: #59B356;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	margin: 10px 0 10px;
}
#post-button {
	border: 0;
	background-color: #59B356;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	margin: 10px 0 0;
}
#post-button:hover {
	background-color: #3EA022;
}


/* The tweet area */
#tweets {
	font-size: 14px;
	clear: both;
}
#tweets li {
	padding: 5px;
	overflow: hidden;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
#tweets .poster {
	font-weight: bold;
}
#tweets .content {

}
#tweets .time {
	float: right;
	font-size: 10px;
	color: #ccc;
}


/* The Sign Up / In Forms */
.registration-forms {
	
}
.registration-forms input {
	padding: 10px;
	width: 100%;
	border: 1px solid #999;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.registration-forms button {
	width: 100%;
	padding: 10px 0;
	display: block;
	margin-top: 10px;
	border: 0;
	font-size: 20px;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

#logout-link {
	float: right;
}

.logo {
	text-decoration: none;
	font-weight: bold;
}
.logo span {
	color: #333;
	font-weight: normal;
}
.username {
	margin-right: 20px;
	float: right;
	font-weight: bold;
}

.main-billboard {
	border: 5px solid #3EA022;
	background-color: #59B356;
	color: #fff;
	padding:20px 0;
	text-align: center;
	border-radius: 10px;
	font-size: 30px;
	margin: 20px auto;
}

footer {
	max-width: 600px;
	width: 100%;
	margin: 20px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

#fuzz {
	position: fixed;
	background-color: rgba(255,255,255,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#notification {
	width: 300px;
	margin: auto;
	position: relative;
	background-color: #fff;
	border: 5px solid #000;
	padding: 10px;
	border-radius: 10px;
	margin-top: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
}
#fuzz-close {
	border: 3px solid #000;
	border-radius: 20px;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -10px;
	right: -10px;
	background: #fff;
	text-align: center;
	color: #000;
	line-height: 20px;
}

h1 {
	margin-top: 10px;
	margin-bottom: 0;
	display: inline-block;
}
.avatar {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.avatar img {
	width: 50px;
	height: 50px;
}
#profile-avatar {
	width: 100px;
	height: auto;
	position: relative;
}
#profile-avatar a {
	cursor: default;
	display: block;
}
#profile-avatar img {
	width: 100px;
	height: 100px;
}
#profile-avatar a i {
	cursor: pointer;
	display: none;
	position: absolute;
	height: 100px;
	width: 100%;
	line-height: 100px;
	text-align: center;
	font-size: 50px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
#profile-avatar .fa-camera {
	top: 0;
	left: 0;
}
#profile-avatar .image-actions {
	overflow: hidden;
}
#profile-avatar .image-actions i {
	display: inline-block;
	cursor: pointer;
	font-size: 25px;
}
#profile-avatar .image-actions .fa-crop {
	/*display: none;*/
}
#profile-avatar a:hover i {
	display: block;
}
.drophere {
	border: 5px dashed #ccc;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	margin: 10px auto;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
}
#drop .cta {
	background: #000;
	color: #fff;
	display: block;
	position: relative;
	text-align: center;
}
#mainimage {
	opacity: 0;
	position: absolute;
	left: 0;
	cursor: pointer;
	width: 100%;
}
form {
	position: relative;
}
.autosave {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	color: #ccc;
}
.autosave.active {
	color: #333;
}
#profile-form {
	float: left;
}
#zipcode {
	width: 250px;
}
#zipcode-results {
	position: absolute;
	top: 30px;
	left: 10px;
	border: 1px solid #333;
	background: #fff;
	padding: 10px;
}
#zipcode-results a {
	display: block;
	cursor: pointer;
	font-size: 12px;
}
#tweets .location {
	font-size: 12px;
	color: #aaa;
}

.like-bar {
	float: left;
	font-size: 10px;
	font-weight: 300;
}

#map-container {
	padding: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #ccc #999 #ccc;
	-webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	-moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
	max-width: 600px;
	width: 100%;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map {
	max-width: 600px;
	width: 100%;
	height: 300px;
}
#map .map-card-wrapper {
	overflow: hidden;
}
#map .map-card-image {
	float: left;
	display: block;
	margin-right: 10px;
}
#map .map-card {
}
.follow, .unfollow {
	display: inline-block;
	border: 5px solid #ddd;
	background: #000;
	color: #fff;
	padding: 0 10px;
	border-radius: 10px;
	position: relative;
	bottom: 5px;
	width: 100px;
	text-align: center;
}
.follow {
	background: #59B356;
}
.follow:hover, .unfollow:hover {
	color: #fff;
	background: #666;
}
.follow:hover {
	background: #3EA022;
}
.unfollow .active {
	display: block;
}
.unfollow .hover {
	display: none;
}
.unfollow:hover .active {
	display: none;
}
.unfollow:hover .hover {
	display: block;
}
